.dishType-content
{
  width: 100%;
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  background-image: url('/styles/thenew.jpg');
  flex-direction: column;
}
.left-side
{
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
  margin-top: 10vh;

  font-family: 'Lato', sans-serif;
}

.left-side a
{
  width: calc(50% - 15px);
  overflow: hidden;
  overflow-x: auto;
}
.left-side .list-element:hover
{
  font-weight: bold;
}
.left-side .list-element:hover .list-label
{
  font-weight: bold;
}