.body
{
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0!important;
  margin: 0!important;
  background-color: #fff;
}

.grid-container
{
  width: 100%;
  height: 12vh;


  display: grid;
  grid-template-columns: repeat(9/ 1fr);
  grid-template-rows: repeat(4/ 1fr);
  border-bottom: 2px solid black;
}
.webname
{
  grid-column: 1/4;
  grid-row: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17.5px;
}
.menuBtn
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17.5px;
  
}
.menuBtn:hover
{
  border-bottom: 2px solid green;
}
.recipes
{
  grid-column: 6/8;
  grid-row: 2/4;
  margin-right: 30px;
}
.types
{
  grid-column: 8/10;
  grid-row: 2/4;
}